/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Colors variables */
:root {
  --background: #fffdf7;
  --black: #232323;
  --black-heavy: #000;
  --text: #4f4f4f;
  --text-out: #90908e;
  --color-primary: #ffbf00;
  --orange-primary: #fff2cb;
  --white: #fbf8f3;
  --red: #e74c3c;
  --green: #2ecc71;
  --separate: #cccccc;
}

/* GLOBAL CLASS */
body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif !important;
}
b {
  font-weight: 500 !important;
}
.color-primary {
  color: var(--color-primary);
}
a.navbar-brand {
  margin-left: -25px;
}
.hint-title {
  color: var(--color-primary);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.title {
  color: var(--black);
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 70px;
}
.hidden {
  display: none !important;
}

/* NavBar */
.nav-link {
  color: var(--black) !important;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: 0.6s;
  border: 2px solid transparent;
  border-radius: 2px;
}
.nav-link:hover {
  color: var(--color-primary) !important;
  border-bottom: 2px solid var(--color-primary);
}
.navbar-nav {
  display: flex;
  gap: 35px;
}
.btn-white {
  background-color: var(--white);
  color: var(--black) !important;
  border-radius: 10px !important;
  padding: 12px 25px !important;
  font-size: 12px !important;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2) !important;
  font-weight: 500 !important;
}
.btn-white.active,
.btn-white:hover {
  background-color: var(--color-primary);
  color: var(--white) !important;
}
.btn-icon {
  padding-right: 60px !important;
}
.btn-icon .icon {
  display: inline-block;
  color: var(--black);
  background-color: var(--color-primary);
  height: 32px;
  width: 35px;
  position: absolute;
  right: 10px;
  margin-top: -8px;
  border-radius: 10px;
  text-align: center;
  padding-top: 6px;
  transition: transform 0.3s ease-in-out;
}
/* .btn-white:hover .icon {
  transform: translateY(-8px) rotate(5deg);
} */
/* Banner */
.banner {
  padding-top: 110px;
  padding-bottom: 200px;
}
.text-banner {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}
.text-banner h1 {
  color: var(--black);
  font-size: 60px;
}
.text-banner p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}
.btn-yellow {
  background-color: var(--color-primary);
  color: var(--white) !important;
  border-radius: 10px !important;
  padding: 9px 25px !important;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
}
.btn-icon-leaft {
  padding-left: 60px !important;
}
.btn-icon-leaft span.icon-leaft {
  display: inline-block;
  color: var(--white);
  background-color: var(--color-primary);
  height: 32px;
  width: 35px;
  position: absolute;
  margin-left: -50px;
  margin-top: -8px;
  border-radius: 10px;
  text-align: center;
  padding-top: 6px;
}
.btn-sm {
  padding: 9px 15px !important;
  border-radius: 10px;
  font-size: 16px !important;
}
.btn-social {
  width: 45px;
}
.card-banner {
  height: 450px;
  width: 450px;
  background-color: #f4c949;
  border-radius: 170px;
  position: absolute;
  right: 0;
  top: -80px;
}
.img-banner img {
  position: absolute;
  width: 570px;
  top: 30px;
  right: 15px;
}
.card {
  border-radius: 10px !important;
  padding: 15px 20px;
  font-size: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2) !important;
  border: none !important;
}
.card-case {
  width: 350px;
  font-size: 14px;
  position: absolute !important;
  right: 0 !important;
  bottom: -75px;
  border-radius: 20px !important;
}
.card-case-name {
  position: absolute !important;
  font-size: 12px;
  color: var(--color-primary);
  right: 20px;
  bottom: 10px;
}

/* Services */
.services {
  padding-top: 100px;
  padding-bottom: 150px;
}
.card-icon {
  height: 50px;
  margin: 0 auto;
  margin-bottom: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-text {
  color: var(--text-out);
  font-size: 15px;
  padding: 0 30px;
}
.card-text p {
  font-size: 22px;
  color: var(--black);
  margin-bottom: 10px;
}
.background-services {
  position: absolute;
  right: 0;
  left: 0;
  height: 500px;
  background-image: url(../img/bg-icons-2.png);
  background-size: cover;
  
}

/* Menu */
.menu {
  padding-top: 50px;
  padding-bottom: 150px;
}
.menu .background-menu {
  position: absolute;
  right: 0;
  left: 0;
  height: 500px;
  background-image: url(../img/bg-icons-1.png);
  background-size: cover;
}
.container-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.card-item {
  height: 360px;
  transition: .5s;
}
.card-item .product-img img {
  width: 100% !important;
  border-radius: 11px;
}

.card-item .product-title {
  color: var(--black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 40px;
  margin-bottom: 0;
  font-size: 16px;
  transition: .5s;
}
.card-item .product-price {
  color: var(--color-primary);
  font-size: 20px;
  margin-top: 15px !important;
  transition: .5s;
}
.card-item .add-cart {
  display: none;
  text-align: center;
  height: 30px;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.decrement-btn {
  color: var(--black-heavy);
  padding: 5px 7px;
  border: 2px solid var(--black-heavy);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.increment-btn {
  color: var(--black-heavy);
  padding: 5px 7px;
  border: 2px solid var(--black-heavy);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.number-items {
  color: var(--black-heavy) !important;
  padding: 2px 15px;
  border-top: 2px solid var(--black-heavy);
  border-bottom: 2px solid var(--black-heavy);
  font-size: 18px;
}
.btn-add {
  border: 2px solid var(--black-heavy);
  font-size: 1px;
  padding: 4px 10px;
  border-radius: 10px !important;
  color: var(--white);
  background-color: var(--black-heavy);
  margin-left: 15px;
}
.card-item:hover {
  background-color: var(--color-primary);
}
.card-item:hover .product-title {
  display: none;
}
.card-item:hover .add-cart {
  display: flex;
}
.card-item:hover .product-price {
  color: var(--black-heavy) !important;
  margin-top: 20px;
}

/* Depositions */
.depositions-card {
  height: 390px;
  width: 390px;
  border-radius: 120px;
  background-color: var(--orange-primary);
  left: 0;
}
.depositions-container-data {
  display: flex;
}
.deposition {
  margin-top: 70px;
  padding-bottom:  150px;
}
.background-deposition{
  position: absolute;
  right: 0;
  left: 0;
  height: 500px;
  background-image: url(../img/bg-icons-2.png);
  background-size: cover;
}
.deposition-img {
  width: 65px;
  height: 65px;
  background-color: var(--white);
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
}

.deposition-name {
  color: var(--black);
  font-size: 22px;
  margin-bottom: 5px;
}
.deposition-note {
color: var(--color-primary);
}
.deposition-note span {
  color: var(--black);
}
.deposition-text {
  display: flex;
  font-size: 16px;
  color: var(--black);
}
.deposition-text i {
  font-size: 35px;
  color: var(--color-primary);
}
.deposition-text i:first-child {
  padding-left: 10px;
  padding-right: 35px;
}
.deposition-text i:last-child {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
}
#depositions-1 .deposition-img {
  background-image: url(../img/diego.jpg) !important;
  background-size: cover;
}
#depositions-2 .deposition-img {
  background-image: url(../img/ana.jpg) !important;
  background-size: cover;
}
#depositions-3 .deposition-img {
  background-image: url(../img/joao.jpg) !important;
  background-size: cover;
}

/* Reserve */
.reserve {
  padding-top: 200px;
  padding-bottom: 150px;
}
.secoundary-card {
  background-color: var(--orange-primary);
  border-radius: 70px;
  padding: 70px;
}
.reserve-card {
  height: 320px;
  width: 320px;
  border-radius: 120px;
  background-color: var(--white);
  position: absolute;
  right: 0;
  top: -25px;
}
.reserve .img-banner img {
  width: 100%;
}